checkpoints*/
best_checkpoints/
*.pth
test_preds/
*.npy
assets/surya-bench-ar-segmentation/
assets/surya.366m.v1.pt
assets/ar_segmentation_weights.pth
assets/infer_data/
assets/ar_index_12min.csv
test_nc/
wandb/
logs/
__pycache__/
*.pyc
.DS_Store
